/ {
	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart6;
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	current-speed = <115200>;
};

&usart2 {
	current-speed = <2000000>;
};

&usart6 {
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	pinctrl-names = "default";
	current-speed = <2000000>;
	status = "okay";
};
